@import 'tailwindcss';

@theme {
  --color-primary-dark: #081028;
  --color-secordary-dark: #0b1739;
  --color-secordary-500: #343b4f;
  --color-secondary-2: #8951ff;
  --color-secondary-3: #21c3fc;
  --color-secondary-4: #3c87e9;
  --color-neutral-100: #fff;
  --color-neutral-200: #d9e1fa;
  --color-neutral-300: #d1dbf9;
  --color-neutral-400: #aeb9e1;
  --color-neutral-500: #7e89ac;
  --color-neutral-600: #37446b;
  --color-neutral-700: #212c4d;
  --color-neutral-800: #081028;
  --color-custom-1: rgba(185, 248, 207, 0.2);
  --color-custom-2: rgba(185, 248, 207, 0.3);
  --color-custom-3: rgba(251, 44, 54, 0.2);
  --color-custom-4: rgba(251, 44, 54, 0.3);
  --drop-shadow-sidebar: 0 8px 28px rgba(1, 5, 11, 0.3);
  --drop-shadow-msidebar: 0 8px 3px rgba(1, 5, 11, 0.8);
  --shadow-msidebar: 0 8px 28px rgba(1, 5, 11, 0.3);
  --drop-shadow-button: 0 8px 3px rgba(1, 5, 11, 0.7);
  --font-sans: 'Mona Sans', sans-serif;
  --text-base: 0.75rem;
  --animation-spin-slow: spin 2s infinite linear;
}

body {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-normal);
  color: var(--color-neutral-400);
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

p {
  @apply text-base;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--color-secordary-500);
  -webkit-text-fill-color: var(--color-neutral-400) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-secordary-dark) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:focus,
textarea:focus,
select:focus {
  -webkit-text-fill-color: var(--color-neutral-400);
}

@layer utilities {
  @keyframes shadow724 {
    0% {
      box-shadow:
        0.1em 0.1em 0 0.1em black,
        0.3em 0 0.3em rgba(0, 0, 0, 0.3);
      animation-timing-function: ease-in;
    }
    25% {
      box-shadow:
        0.1em 0.1em 0 0.1em black,
        0.8em 0 0.8em rgba(0, 0, 0, 0.5);
      animation-timing-function: ease-out;
    }
    50%,
    100% {
      box-shadow:
        0.1em 0.1em 0 0.1em black,
        0.3em 0 0.3em rgba(0, 0, 0, 0.3);
    }
  }

  @keyframes pushInOut1724 {
    0% {
      transform: translate(0, 0);
      background-color: var(--bg);
      animation-timing-function: ease-in;
    }
    25% {
      transform: translate(-71%, -71%);
      background-color: var(--primary2);
      animation-timing-function: ease-out;
    }
    50%,
    100% {
      transform: translate(0, 0);
      background-color: var(--bg);
    }
  }

  @keyframes pushInOut2724 {
    0% {
      clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
      background-color: var(--bg);
      animation-timing-function: ease-in;
    }
    25% {
      clip-path: polygon(0 25%, 100% 25%, 100% 100%, 0 100%);
      background-color: var(--primary1);
      animation-timing-function: ease-out;
    }
    50%,
    100% {
      clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
      background-color: var(--bg);
    }
  }

  .animate-shadow724 {
    animation: shadow724 2s infinite;
  }

  .animate-pushInOut1724 {
    animation: pushInOut1724 2s infinite;
  }

  .animate-pushInOut2724 {
    animation: pushInOut2724 2s infinite;
  }

  .animation-delay-0 {
    animation-delay: 0s;
  }
  .animation-delay-1 {
    animation-delay: -0.1666666667s;
  }
  .animation-delay-2 {
    animation-delay: -0.3333333333s;
  }
  .animation-delay-3 {
    animation-delay: -0.5s;
  }
  .animation-delay-4 {
    animation-delay: -0.6666666667s;
  }
  .animation-delay-5 {
    animation-delay: -0.8333333333s;
  }
  .animation-delay-6 {
    animation-delay: -1s;
  }
  .animation-delay-7 {
    animation-delay: -1.1666666667s;
  }
  .animation-delay-8 {
    animation-delay: -1.3333333333s;
  }
  .animation-delay-9 {
    animation-delay: -1.5s;
  }
  .animation-delay-10 {
    animation-delay: -1.6666666667s;
  }
  .animation-delay-11 {
    animation-delay: -1.8333333333s;
  }
  .dot-transform-0 {
    transform: rotate(0deg) translateX(5em) rotate(0deg);
  }
  .dot-transform-1 {
    transform: rotate(-30deg) translateX(5em) rotate(30deg);
  }
  .dot-transform-2 {
    transform: rotate(-60deg) translateX(5em) rotate(60deg);
  }
  .dot-transform-3 {
    transform: rotate(-90deg) translateX(5em) rotate(90deg);
  }
  .dot-transform-4 {
    transform: rotate(-120deg) translateX(5em) rotate(120deg);
  }
  .dot-transform-5 {
    transform: rotate(-150deg) translateX(5em) rotate(150deg);
  }
  .dot-transform-6 {
    transform: rotate(-180deg) translateX(5em) rotate(180deg);
  }
  .dot-transform-7 {
    transform: rotate(-210deg) translateX(5em) rotate(210deg);
  }
  .dot-transform-8 {
    transform: rotate(-240deg) translateX(5em) rotate(240deg);
  }
  .dot-transform-9 {
    transform: rotate(-270deg) translateX(5em) rotate(270deg);
  }
  .dot-transform-10 {
    transform: rotate(-300deg) translateX(5em) rotate(300deg);
  }
  .dot-transform-11 {
    transform: rotate(-330deg) translateX(5em) rotate(330deg);
  }
}
